
# build path
/build


# cmake
/CMakeFiles
/cmake_install.cmake
/CMakeCache.txt


# vscode
/.vscode


# imgui layout
/imgui.ini


# visual studio
/*.vcxproj.user
/*.vcxproj.filters
/*.vcxproj
/*.sln
/x64
/*.dir
/.vs


